*::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, #text {
    text-align:  center;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 2px;
    margin-left: 36%; 
    margin-top: 20px;
    width: 23%;
}

.grid-item{

    border: 1px solid black;
    width: 100px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    background-color:#fff; 
    margin-left: 28px;
    font-size: 30px;
}

body{
    background-color: lightblue;
}

#btn{
    
    margin-top: 20px;
    font-size: 25px;
    background-color: black;
    color: Gold;
}

#btn:hover{
    background-color: white;
    color: red;
}

form{
    display: inline;
    margin-left: 46%;
}

#text{
    font-size: 20px;
}

@media only screen and (max-width: 1024px){
    h1, #text {
        margin-left: 80px;
    }

    #btn{
        margin-left: 32px;
    }
    
}

@media only screen and (max-width: 768px){
    h1, #text {
        margin-left: 158px;
    }

    #btn{
        margin-left: 58px;
    }
}

@media only screen and (max-width: 425px){
    .container{
        margin-left: 20px;
    }

    h1, #text {
        margin-left: 0;
    }

    #btn{
        margin-left: -35px;
    }
}

@media only screen and (max-width: 375px){
    .container{
        margin-left: 0;
    }
}

@media only screen and (max-width: 320px){
    .container{
        margin-left: -27px;
        width: 15%;
    }
}